@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    outline: none;
    transition: .2s;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edeef0;
}

.sidebar {
    background: #ffffff;
    width: 20%;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin: 5% 10px;
    position: static;
    animation: slideInLeft 1s;
    z-index: 2;
}


.links {
    background: #4a76a8;
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

.sidebar ul li a:hover {
    color: rgba(0,0,0,80%);
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
}

.lections {
    background: #ffffff;
    width: 60%;
    border-radius: 10px;
    padding: 20px;
    align-self: flex-start;
    margin: 5% 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideInRight 1s;
    flex-direction: column;
}

#ul1, #ul2, 
#ul3, #ul4,
#ul5, #ul6, 
#ul7, #ul8, 
#ul9, #ul10, 
#ul11, #ul12, 
#ul13, #ul14, .sidebar button {
    display: none;
} 

.sidebar button {
    color: white;
    background: #d63b33;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#lect {
    align-self: flex-start;
    position: absolute;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 40px;
    animation: rotateIn 2s;
    z-index: 1;
}

.lections p {
    margin: 20px 20px;
}

.lections ul {
    align-self: flex-start;
}

.lections ul li {
    margin: 10px 0;
}

.page {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4a76a8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}

.page a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.pages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.keywords_red {
    color: #d63b33;
}

.lections img {
    border-radius: 10px;
}